* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfcfa;
}

.container {
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap;  */
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  position: relative;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 50px;
}

img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  margin: 0 25px;
}

button {
  background-color: crimson;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  color: aliceblue;
  cursor: pointer;
  font-weight: 700;
}

.circle {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 1px solid crimson;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  text-align: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: crimson;
  font-weight: 800;
}
